body { font-family: Arial; margin: 15px; }

textarea { width: 420px; height: 120px; }

button, select, input { margin: 5px; }

#canvas {
  width: 1600px;
  height: 450px;
  border: 1px solid #999;
  position: relative;
  margin-top: 10px;

  overflow: auto;        
}

#canvas svg {
  position: absolute;
  top: 0;
  left: 0;

  width: auto;
  height: auto;

  pointer-events: none;
  z-index: 0;
}

.node {
  width: 44px;
  height: 44px;
  border-radius: 50%;
  border: 2px solid #333;
  background: #eee;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: grab;
  user-select: none;
  z-index: 1;
}

.visited { background: lightgreen; }

.current { background: orange; }

.selected-node {
  box-shadow: 0 0 0 3px #ff9800;
  border-color: #ff9800;
}

.edge-label {
  font-size: 12px;
  fill: black;
}